
#header ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0px;
    padding-bottom: 0px;
}
#header ul li{
    margin:0px 10px;
}
#header ul li:hover{
    color:orange;
}
#header ul li a:visited{
    color:gainsboro;
}
#header ul li a:link{
    color:burlywood;
}
#header ul li a:hover{
    color:orange;
}
#orange:hover{
    color: rgba(255, 166, 0);
}
#orange{
    color: rgba(255, 166, 0, 0.49);
}
#cornflowerblu:hover{
    color: cornflowerblue;
}
#cornflowerblu{
    color: rgba(100, 148, 237, 0.49);
}
#green:hover{
    color: rgb(134, 228, 130);
}
#green{
    color: rgb(134, 228, 130,0.49);
}